<!--The content below is only a placeholder and can be replaced.-->
<nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/foodlist">Welcome</a></li>
        <li><a href="/addfood">Add Food</a></li>
      </ul>
    </div>
  </nav>
<div style="text-align:center">
  <h1>Fridge/Storage Inventory</h1>
</div>

<h2>Food List </h2>
<div class="container">
    <router-outlet></router-outlet>
    <!-- <app-food-list ></app-food-list> -->
    
</div>


